---
import { CalendarDays, Clock } from "lucide-astro";
import { type SimplifiedEpisode } from "@spotify/web-api-ts-sdk";
import { formatDate, formatDuration } from "@/lib/time";
import { slugify } from "@/lib/meta";

type Props = {
  episodes: SimplifiedEpisode[];
};

const { episodes } = Astro.props;
---

<h2 class="text-2xl font-bold mb-6">Episodes</h2>
<ul class="space-y-4 max-w-xl mx-auto max-h-96 overflow-y-auto">
  {
    episodes.map((episode) => (
      <li>
        <a
          href={`/episodes/${slugify(episode.name)}`}
          class="block p-4 rounded-lg bg-slate-600 hover:bg-slate-700 transition-colors duration-200 ease-in-out"
        >
          <div class="flex flex-col">
            <h3 class="text-left text-lg font-semibold mb-2">{episode.name}</h3>
            <div class="flex items-center space-x-4 text-sm">
              <span class="flex items-center whitespace-nowrap">
                <CalendarDays class="w-4 h-4 mr-1" />
                {formatDate(episode.release_date)}
              </span>
              <span class="flex items-center whitespace-nowrap">
                <Clock class="w-4 h-4 mr-1" />
                {formatDuration(episode.duration_ms)}
              </span>
            </div>
          </div>
        </a>
      </li>
    ))
  }
</ul>
