---
import { Heart } from "lucide-astro";
---

<footer class="bg-gray-100 py-12">
  <div class="container mx-auto px-4">
    <div class="text-center mb-4 text-gray-700">
      Du kan støtte de som lager denne podcasten på følgende måte
    </div>
    <div class="flex flex-col gap-4 justify-center items-center">
      <a
        href="https://www.patreon.com/radcrewpodcast"
        class="flex items-center text-gray-600 hover:text-gray-900 transition-colors hover:underline"
        target="_blank"
      >
        <Heart class="w-5 h-5 mr-2 text-red-500" />
        <span>Støtt Rad Crew</span>
      </a>
      <a
        href="https://www.patreon.com/levelupnorge"
        class="flex items-center text-gray-600 hover:text-gray-900 transition-colors hover:underline"
        target="_blank"
      >
        <Heart class="w-5 h-5 mr-2 text-red-500" />
        <span>Støtt LevelUp</span>
      </a>
    </div>
  </div>
</footer>
