---
import "@/global.css";
import Favicons from "@/components/Favicons.astro";
import Footer from "./Footer.astro";
---

<html lang="no" class="h-full">
  <head>
    <meta charset="utf-8" />
    <Favicons />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <slot name="head" />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="Jenovas Vitner RSS Feed"
      href="https://www.radcrew.net/category/finalfantasy/feed"
    />
  </head>
  <body class="h-[100dvh] flex flex-col">
    <main class="max-w-4xl mx-auto px-4 flex-1">
      <slot />
    </main>

    <div class="mt-10">
      <Footer />
    </div>
  </body>
</html>
