---
import Favicons from "@/components/Favicons.astro";
---

<html lang="no" class="h-full">
  <head>
    <meta charset="utf-8" />
    <Favicons />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={Astro.url} />
    <slot name="head" />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="Jenovas Vitner RSS Feed"
      href="https://www.radcrew.net/category/finalfantasy/feed"
    />
  </head>
  <body class="h-full">
    <main class="h-[100dvh] container mx-auto px-4">
      <slot />
    </main>
  </body>
</html>
