---
import { Podcast } from "lucide-astro";
---

<a
  href="https://podcasts.apple.com/jm/podcast/jenovas-vitner-en-final-fantasy-podcast/id1243030195"
  target="_blank"
  rel="noopener noreferrer"
  class="w-full sm:w-auto bg-[#872EC4] whitespace-nowrap hover:bg-[#9F3AE9] text-white font-bold py-2 px-4 rounded-full flex items-center justify-center transition-all duration-300 ease-in-out transform hover:scale-105"
>
  <Podcast class="w-6 h-6 mr-2" />
  <span>Lytt hos Apple Podcasts</span>
</a>
