---
import { Radio } from "lucide-astro";
---

<a
  href="https://www.radcrew.net/category/finalfantasy"
  target="_blank"
  rel="noopener noreferrer"
  class="w-full whitespace-nowrap sm:w-auto bg-linear-to-br from-purple-600 via-pink-500 to-orange-400 hover:from-purple-700 hover:via-pink-600 hover:to-orange-500 text-white font-bold py-2 px-4 rounded-full flex items-center justify-center transition-all duration-300 ease-in-out transform hover:scale-105"
>
  <Radio class="w-6 h-6 mr-2" />
  <span>Lytt hos Rad Crew</span>
</a>
