---
import { Headphones, Radio, Podcast } from "lucide-astro";

interface PodcastLink {
  title: string;
  url: string;
  icon: string;
}

const podcastLinks: PodcastLink[] = [
  {
    title: "RadCrew - Final Fantasy",
    url: "https://www.radcrew.net/category/finalfantasy",
    icon: "Radio",
  },
  {
    title: "Spotify",
    url: "https://open.spotify.com/show/0jxTtqiycCBwCcXGqGawoa?si=3547f6c095d343e5",
    icon: "Headphones",
  },
  {
    title: "Apple Podcasts",
    url: "https://podcasts.apple.com/jm/podcast/jenovas-vitner-en-final-fantasy-podcast/id1243030195",
    icon: "Podcast",
  },
];
---

<div class="w-full p-4">
  <div class="flex flex-wrap justify-center items-center gap-4">
    {
      podcastLinks.map((link) => (
        <a
          href={link.url}
          target="_blank"
          rel="noopener noreferrer"
          class="flex shadow-md items-center bg-violet-600 px-4 py-2 text-sm text-white hover:bg-violet-500 transition-colors duration-200 rounded-md whitespace-nowrap"
        >
          {link.icon === "Headphones" && (
            <Headphones className="w-4 h-4 mr-2" />
          )}
          {link.icon === "Podcast" && <Podcast className="w-4 h-4 mr-2" />}
          {link.icon === "Radio" && <Radio className="w-4 h-4 mr-2" />}
          <span>{link.title}</span>
        </a>
      ))
    }
  </div>
</div>
