---

---

<div class="h-[352px] rounded-xl overflow-hidden">
  <iframe
    title="Jenovas Vitner Spotify"
    class="w-full h-full border-none"
    src="https://open.spotify.com/embed/show/0jxTtqiycCBwCcXGqGawoa?utm_source=generator&theme=0&t=0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>
</div>
